.Message {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 15px;
    box-shadow: 0px 0px 16px 0px rgba(3,3,3,0.65);
    background: #fff;
    padding: 5px;
}

.Message > img {
    height: 75px;
    margin-right: 15px;
}

.MessageContent > p {
    margin: 5px 0;
}

.MessageInfo {
    display: flex;
    justify-content: space-between;
}